# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=examen_u3
DB_USER=postgres
DB_PASSWORD=tu_contraseña

# Sesión
SESSION_SECRET=tu_secreto_muy_largo_y_seguro_aqui_12345

# Servidor
PORT=3000
NODE_ENV=development
